@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Kalam:wght@300;400;700&family=Pacifico&display=swap');

body{
    background-color: #faeee7;
}

.heading-container{
    display: flex;
    text-align: center;
    align-items: center;
}

.fav-icon{
    height: 150px;
    width: 180px;
    margin: 0 0 0 50px;
}

.heading{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    color: #594a4e;
    margin: 0 400px;
}

.text-center{
    text-align: center;
}

.header{
    display: flex;
    margin: 0 0 0 950px;
}

.header-text{
    padding: 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.card-text{
    font-family: "Kalam", cursive;
}

footer{
    padding: 30px 40px 5px 100px;
    background-color: #f5dfd1;
    margin: 30px 0 0 0;
}

.footer-container{
    font-family: "Kalam", cursive;
}

.footer-text{
    margin: 50px;
    font-size: large;
    font-family: "Kalam", cursive;
}